<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student form</title>
</head>
<body>

    <h1>Student Form</h1>
    <form action="/student" method="GET">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
    </form>


    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const name = document.getElementById('name').value;

            axios.post('/student', {name})
            .then((res) => {
                console.log(res.data);
            })
            .catch((error)=> {
                console.log(error);
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>
</html>